<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/GaneshBabu-J/index.json" />
    </packageSources>
<!---    <packageSourceCredentials>
        <github>
            <add key="GaneshBabu-J" value="GaneshBabu-J" />
            <add key="ClearTextPassword" value="98a3c9ed69dfc4b656f337130e265e7f5a8884fc" />
        </github>
    </packageSourceCredentials> --->
     <apikeys>
        <add key="https://nuget.pkg.github.com/GaneshBabu-J/index.json" value="98a3c9ed69dfc4b656f337130e265e7f5a8884fc" />
     </apikeys>
</configuration>
